saves/
resourcepacks/
shaders/
journeymap/
logs/
mods/
patchouli_books/

*.log
usercache.json
usernamecache.json
.curseclient
BotaniaVars.dat
config/jei/worldSettings.cfg
config/splash.properties
config/pyrotech/core.compat.Wood-Generated.json
config/pyrotech/core.compat.Ore-Generated.json
config/pyrotech/core.OreDict-Generated.json
options.txt
